/* Garantir que toda a tela seja ocupada */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Fundo vermelho fixo */
body {
  background-color: #A22C29; /* vermelho da paleta */
  overflow: hidden; /* impede rolar a tela */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
